.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation;
    margin: 0 5pt
    }
.calibre1 {
    font-family: "Cambria", "serif";
    font-size: 1.66667em;
    line-height: 1
    }
.calibre2 {
    display: block
    }
.calibre3 {
    letter-spacing: -0.2pt
    }
.calibre4 {
    color: gray;
    display: block;
    height: 2px;
    text-align: center;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre5 {
    color: windowtext;
    text-decoration: none
    }
.calibre6 {
    height: 32px;
    width: 88px
    }
.calibre7 {
    height: 84px;
    width: 84px
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    font-family: "Cambria", "serif";
    font-size: 1.29167em;
    line-height: 110%
    }
.calibre10 {
    color: windowtext;
    display: none;
    text-decoration: none
    }
.calibre11 {
    font-style: italic
    }
.calibre12 {
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%
    }
.calibre13 {
    display: block
    }
.calibre14 {
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%
    }
.mlpdopispodpisi {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: right;
    margin: 6pt 14.2pt 12pt 0
    }
.mlplicencehypertext {
    color: blue;
    font-family: "Cambria", "serif";
    font-variant: normal;
    text-decoration: underline none underline;
    text-transform: none;
    vertical-align: baseline
    }
.mlplicenceobrazek {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 0.75em;
    text-align: center;
    margin: 6pt 0 4.5pt
    }
.mlplicenceparagraf {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0 0 6pt
    }
.mlplicencetext {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 0.75em;
    line-height: 110%;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlpobrazky {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: center;
    margin: 12pt 0 0.0001pt
    }
.mlpobsah {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 12pt 0
    }
.mlptextbez1radku {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku2 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    margin: 12pt 0 0.0001pt
    }
.mlptirazautoranazev {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0.0001pt
    }
.mlptitulkaautor {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.4em;
    line-height: 1;
    text-align: center;
    margin: 18pt 0 0.0001pt
    }
.mlptitulkanazev {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 2em;
    line-height: 110%;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpuroven1cast {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 2em;
    font-weight: bold;
    line-height: 110%;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpuroven1zvlastnipripadyjakouroven2basen {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.4em;
    font-weight: bold;
    line-height: 110%;
    margin: 18pt 42.55pt 36pt
    }
.mlpuroven3basne {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.2em;
    font-weight: bold;
    line-height: 110%;
    margin: 18pt 42.55pt 12pt
    }
.mlpuroven3basnesvaz {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.2em;
    font-weight: bold;
    line-height: 110%;
    page-break-after: avoid;
    margin: 18pt 42.55pt 12pt
    }
.mlpvenovanicxspfirst {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpverse {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    margin: 0 42.55pt 12pt
    }
.mlpverse0-12uzsi {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    margin: 0 2cm 12pt
    }
.mlpverse1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    margin: 12pt 42.55pt 0.0001pt
    }
.mlpversei {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    margin: 0 42.55pt 12pt
    }
.mlpversei1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    margin: 12pt 42.55pt
    }
.mlpznakkurziva11b {
    font-family: "Cambria", "serif";
    font-style: italic
    }
.msotoc {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%;
    margin: 0 0 0.0001pt
    }
.msotoc1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%;
    margin: 0 0 0.0001pt 11.05pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.wordsection1 {
    display: block;
    page: WordSection2
    }
.wordsection2 {
    display: block;
    page: WordSection3
    }
.wordsection3 {
    display: block;
    page: WordSection4
    }
.wordsection4 {
    display: block;
    page: WordSection5
    }
.wordsection5 {
    display: block;
    page: WordSection6
    }
.wordsection6 {
    display: block;
    page: WordSection7
    }
.wordsection7 {
    display: block;
    page: WordSection8
    }
.wordsection8 {
    display: block;
    page: WordSection9
    }
.wordsection9 {
    display: block;
    page: WordSection10
    }
.wordsection10 {
    display: block;
    page: WordSection11
    }
.wordsection11 {
    display: block;
    page: WordSection12
    }
.wordsection12 {
    display: block;
    page: WordSection13
    }
.wordsection13 {
    display: block;
    page: WordSection14
    }
.wordsection14 {
    display: block;
    page: WordSection15
    }
.wordsection15 {
    display: block;
    page: WordSection16
    }
.wordsection16 {
    display: block;
    page: WordSection17
    }
.wordsection17 {
    display: block;
    page: WordSection18
    }
.wordsection18 {
    display: block;
    page: WordSection19
    }
.wordsection19 {
    display: block;
    page: WordSection20
    }
.wordsection20 {
    display: block;
    page: WordSection21
    }
.wordsection21 {
    display: block;
    page: WordSection22
    }
.wordsection22 {
    display: block;
    page: WordSection23
    }
.wordsection23 {
    display: block;
    page: WordSection24
    }
.wordsection24 {
    display: block;
    page: WordSection25
    }
.wordsection25 {
    display: block;
    page: WordSection26
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    font-family: "Cambria", "serif";
    font-style: normal;
    font-weight: normal;
    text-decoration: underline
    }
